.header {
    background-color: #fff;
    width: 100%;
    padding: 10px 12px 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0, 25%) ;
}

.nav_logo {
    padding: 0 12px;
  }
    .menuToggleBtn {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

   @media screen and (max-width: 799px) {
    .header {
      border-bottom: none;
    }
    .menuToggleBtn {
      display: block;
    }
    .nav_logo {
      right: 5px;
    }
    .contact_icons {
      display: none;
    }
  }