.contact-menu {
    display: none;    
  }

.contact-menu-container {
    display: none;  
}

@media screen and (max-width: 799px) {
    .contact-menu {
      display: flex;
      align-items: center;
      justify-content: center;  
    }

    .contact-menu-container.open{
        display: flex;
    }

    .contact-menu-container.closed{
        display: none;
    }
}